<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon Arena</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">
      <h1 class="title">Pokemon Arena</h1>
      {{{body}}}
    </div>
  </body>
</html>